.container {
    padding-top: 1%;
    color: #1D2686;
}

header {

}

#footer {
    margin-top: 2%;
    text-align: center;
    background-color:rgba(163, 218, 255, 1);
}

h1 {
    text-align: center;
    font-family : "Courier New", Courier, Prestige, monospace;
    color:#20c997;
}

#boutons {
    float: left;
    padding-top: 2%;
}

.article {
    background-color: rgba(255, 188, 117, 1);
}
.icon_j {
    height: 100%;
    width: 14%;
}
