.container {
    padding-top: 1%;

}
#liens {
    border: solid;
}

#partenaires {
    border: solid;
    float:right;
    top:3%;
    left:2%;
}

#présentation {
    border: solid;
  float:top;

}

#statistiques {
    border: solid;
float:right;
    right:2%;
    top:5%;

}

h1 {
    text-align: center;
}

#footer {
    border: solid;
}

#slogan {
    border: solid;
    margin-top:10%;
}

#boutons {
    float: left;
    padding-top: 2%;
}

#footer {
    margin-top: 2%;


}
.btn btn-primary {
    border-radius:12px 0 12px 0;
    background: #478bf9;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px 0 6px 0 !important;
}
#tt {
    font-size: 40px;
    color: red;
    background-color: #575757;
    text-shadow: 0 1px 0 #292929,
    0 2px 0 #000000,
    -1px 3px 0 #000000,
    -1px 4px 0 #000000,
    -2px 5px 0 #000000,
    -2px 6px 0 #000000,
    -2px 7px 2px rgba(0, 0, 0, 0.6),
    -2px 7px 8px rgba(0, 0, 0, 0.67),
    -2px 7px 45px rgba(0, 0, 0, 0.4);
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 20px;
    margin-left: 65px;
    border: inset;
}
#ty{
    border:solid 2px black;
    margin-top:20px;


    text-align: center;

}

h1{
    color:red;
    text-shadow: 0 1px 0 #292929,
    0 2px 0 #000000,
    -1px 3px 0 #000000,
    -1px 4px 0 #000000,
    -2px 5px 0 #000000,
    -2px 6px 0 #000000,
    -2px 7px 2px rgba(0, 0, 0, 0.6),
    -2px 7px 8px rgba(0, 0, 0, 0.67),
    -2px 7px 45px rgba(0, 0, 0, 0.4);
}
img{
    padding:4%;
}
h2{
    font-family: bold;
    font-size:30px;
    float: inside;
    text-decoration:underline;
    text-align: center;
}
body{

}
p{
    line-height:150%;
    color: #1D2686

;
    font-size:110%;

}