.container {
    padding-top: 1%;

}
#liens {

}

#partenaires {

    float:right;
    top:3%;
    left:2%;
    background-color:rgba(163, 218, 255, 1);
}

#présentation {

  float:top;
    background-color: rgba(255, 188, 117, 1);
}

#statistiques {

float:right;
    right:2%;
    top:5%;
    background-color:rgba(163, 218, 255, 1);

}

h1 {
    text-align: center;
}

#footer {
    background-color:rgba(163, 218, 255, 1);
}

#slogan {

    margin-top:10%;
}

#boutons {
    float: left;
    padding-top: 2%;
}

#footer {
    margin-top: 2%;


}
.btn btn-primary {
    border-radius:12px 0 12px 0;
    background: #478bf9;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px 0 6px 0 !important;
}
#tt {

}
#ty{

    margin-top:20px;
    background-color: rgba(255, 188, 117, 1);

    text-align: center;

}

h1{
    text-align: center;
    font-size: 50px;
    color:#20c997;
    font-family: monospace;
}
img{
    padding:4%;
}
h2{
    font-family: bold;
    font-size:30px;
    float: inside;
    text-decoration:underline;
    text-align: center;
}
body{

}
p{
    line-height:150%;
    color: #1D2686

;
    font-size:110%;

}
#slogan{
   position:relative;
    bottom:700px;
    right:360px;
    background-color: deepskyblue;
    color:white;
    border:solid grey 3px;

}
input{
    float:right;
}