
.web{
    position: relative;
    bottom: 20%;
    right: 20%;
}

.lin{
    position: relative;
right: 10%;
}

.git{
    position: relative;
    top: 20%;
}
.container {
    padding-top: 1%;
    color: #1D2686;
}

.image
{
    border: solid #005cbf 1px;
    height: 70%;
    width: 40%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.prénom{
    font-family : "Courier New", Courier, Prestige, monospace;
    color: whitesmoke;
    margin-right: 50%;
    background-color:rgba(163, 218, 255, 1);
}

.prénom2{
    font-family : "Courier New", Courier, Prestige, monospace;
    color: whitesmoke;
    margin-right: 50%;
    background-color: rgba(255, 188, 117, 1);}
h1 {
    text-align: center !important;
    font-size: 50px !important;
    color:#20c997 !important;
    font-family: monospace !important;
}


#boutons {
    float: left;
    padding-top: 2%;
}

#footer {
    margin-top: 2%;
}

footer{
    text-align: center;
}

