.container {
    color: #1D2686;
}

.container {
    padding-top: 1%;
}

h1 {
    text-align: center !important;
    font-size: 50px !important;
    color: #20c997 !important;
    font-family: monospace !important;
}

footer {
    margin-top: 2%;
    text-align: center;
    background-color:rgba(163, 218, 255, 1);
}

#boutons {
    float: left;
    padding-top: 2%;
}

#candidats_entreprises {
    text-align: center;
}

#message {
    height: 100px;
}

#candidats {
    background-color:rgba(163, 218, 255, 1);
}

#entreprises {
    background-color: rgba(255, 188, 117, 1);
}

h3 {
    text-decoration: underline;
    color: black !important;
}