.container {
    color: #1D2686;
}

.container {
    padding-top: 1%;
}

h1 {
    text-align: center;
}

footer {
    margin-top: 2%;
    text-align: center;
    border: solid black;
}

#boutons {
    float: left;
    padding-top: 2%;
}

#candidats_entreprises {
    text-align: center;
}

#message {
    height: 100px;
}

header {
    border: solid black;
}

#candidats {
    border: solid black;
}

#entreprises {
    border: solid black;
}

h3 {
    text-decoration: underline;
}