.container {
    padding-top: 1%;
}

#liens {
    border : none;
}

.remerciements1 {
    display: inline-block;
    margin-top: 3%;
    font-size: 15px;
    color:  #1D2686;
    background-color:rgba(163, 218, 255, 1);

}

.remerciements2 {
    display: inline-block;
    margin-top: 3%;
    font-size: 15px;
    color:  #1D2686;
    background-color: rgba(255, 188, 117, 1);
}


h1 {
    text-align: center;
    color:#20c997;
    font-family: monospace;
}


#footer {
    border: none;
    text-align: center;
}

#slogan {
    border: solid;
}

#boutons {
    float: left;
    padding-top: 2%;
}

#footer {
    margin-top: 2%;
}

.logo {
    max-width: 40%;
    max-height: 90%;
}

#img_europe {
    width: 80%;
    height: 80%;
    padding-top:  10%;
}

.txt_r {
    float: right;
}